body {
  direction: rtl;
  unicode-bidi: embed;
  text-align: right;
}

.text-right {
  text-align: left !important;
}
.text-left {
  text-align: right !important;
}
.ml-auto {
  margin-right: auto !important;
  margin-left: initial !important;
}
.mr-auto {
  margin-left: auto !important;
  margin-right: initial !important;
}
