/*start header*/
/*start navigatin bar*/
nav{
    background-color: #03b7bf
}
nav h1{
    display: block;
    color: white;
    text-transform: uppercase
    
}
nav a{
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 12px
}
nav a::first-letter{
     text-transform: uppercase 
}
nav a:hover{
    color: white;
    text-decoration: none
}
/*end navigatin bar*/
/*start id input*/
form{
    display: block;
    margin: 5% auto;
 
}
label{
    display: block;
    color: #03b7bf
   
}

.patien-id{
    display: block;
    margin: auto;
    border-top: 4px solid #eee;
    border-left: 2px solid #eee;
    border-radius: 10%;
    text-align: center;
}
/*end id input*/
/*end header*/
/*start icon bar*/
.co-icon{
    
    height: 100%;
    border-radius: 50%;
    padding: 10px ;
    box-shadow:1px 1px 6px 1px #999,
              -1px -1px 6px 1px #999
}

.co-icon:hover{
     box-shadow:1px 1px 12px 1px #00f,
              -1px -1px 12px 1px #00f
}
/* end icon bar*/

.container-nots{

    height: 200px;
    border-radius:0 20px;
    padding: 0;
    box-shadow:1px 1px 6px 1px #999;
    position: relative
  
}
.nots{
   position: absolute;
    left: -15px;
    top: -20px;
    box-shadow: -1px -1px 15px 0px #03b7bf;
    background-color: #03b7bf;
    color: white;
    text-align: center;
    padding: 10px;
    width: 20%
     
}
.nots::first-letter{
    text-transform: uppercase
}
.write-nots{
    line-height: 28px;
    width: 100%;
    height: 178px;
    position: absolute;
    top: 24px;
    padding: 8px;
    border: none;
    background:transparent;
    resize: none
    
}
.line1,.line2,.line3,.line4,.line5{
    border-bottom: 1px solid #03b7bf;
    width: 98%;
    position: absolute;
    left: 1%;
   
}
.line1{
     top: 26%;
}
.line2{
     top: 40%;
}
.line3{
     top: 54%;
}
.line4{
     top: 68%;
}
.line5{
     top: 82%;
}


.margin{
    width: 100%;
    height: 13px
}
.container-datalist{
    width: 100%;
    height: 183px;
    background-color: #03b7bf;
    padding: 3px;
    position: relative
}
.datalist{
    width: 85%;
    border: none;
    
}
output{
    width: 100%;
    height: 167px;
    background-color: #fff;
    position: absolute;
    top: 32px;
    left: 0;
    border-radius:2px 2px 20px 20px;
    box-shadow:1px 1px 6px 1px #999;
}
.chronic-med,.write-med{
    display: inline-block;
    position: absolute;
     top: -25px;
    background-color: #03b7bf;
    text-align: center;
    color: #fff;
}
.chronic-med{
     right: 0;
     width: 34%;
     border-radius: 0px 5px 2px 0px;
}
.write-med{
     left: 0;
     width: 65.8%;
     border-radius: 5px 0px 2px 0px;
}
.container-checkbox{
    display: inline-block;
    width: 15%;
    height: 25px;
    position: absolute;
    top: 5px;
  
    
}
.psedou-checkbox{
    position: absolute;
    left: 14%;
    z-index: 1;
    display: inline-block;
    width: 25px;
    height: 20px;
    background-color: white
}
.psedou-checkbox:after{
    display: none;
}
input[type="checkbox"]:checked ~ .psedou-checkbox:after { 
            display: block; 
        } 


  .psedou-checkbox:after { 
      content: "";
      position: absolute;
      top: 3px;
      left: 10px;
      z-index: 2;
      width: 6px; 
      height: 12px; 
      border: solid #03b7bf; 
      border-width: 0 4px 4px 0; 
     -webkit-transform: rotate(45deg); 
     -ms-transform: rotate(45deg); 
      transform: rotate(45deg); 
        } 

input[type="checkbox"]{
   visibility: hidden;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 25px;
}

input[type="submit"]{
    background: #fff;
    color:#03b7bf; 
    border: none;
    border-radius: 20px;
     box-shadow:1px 1px 6px 1px #03b7bf;
}
input[type="submit"]:hover{
    transform: scale(1.1)
}
